# Files that are only used by docker/docker compose.
docker-compose.yaml
docker-compose.*.yaml
docker-compose.yml
docker-compose.*.yml
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]

# CI / distribution / packaging
**/*.egg-info
.github
.gitignore
.mergify.yml
.pre-commit-config.yaml
.readthedocs.yaml
.stylelintrc
.venv
.yamllint
build
dist
Makefile
pylintrc

# Test and coverage reports
**/htmlcov
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/.hypothesis
.mypy_cache
.pytest_cache
.ruff_cache
conftest.py
integration_tests
tests

# Django stuff:
**/*.log

# Documentation
*.md
*.png
*.rst
docs
LICENSE

# PyBuilder
**/target

# iPython Notebook
**/.ipynb_checkpoints

# Mac OS X
**/.DS_Store

# Environment-specific templates
**/*.env.html
**/settings.env.py

# IDE settings
.idea
.vscode
