---
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.5
    hooks:
    - id: ruff
      args: [--fix, --show-fixes, --output-format, grouped]
    - id: ruff-format
  # Lint Python snippets embedded in Markdown (using flake8)
  - repo: https://github.com/johnfraney/flake8-markdown
    rev: v0.5.0
    hooks:
      - id: flake8-markdown
  # # Lint Jinja2 templates
  # - repo: https://github.com/thibaudcolas/curlylint
  #   rev: "v0.13.1"
  #   hooks:
  #   - id: curlylint
  # Lint Yaml files
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint']
  # Common pre-commit checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files # We don't want huge files. (Cut down test data!)
        args: ['--maxkb=2000']
      - id: check-case-conflict # Don't allow files that differ by case sensitivity.
      - id: check-docstring-first # Avoid common error of code before docstring.
      - id: check-json # Check json file syntax
        # (Exclude Typescript config: it uses json5 extensions)
        exclude: 'tsconfig.json|^integration_tests/schemas/'
      - id: check-merge-conflict # Don't commit merge-conflicts
      - id: check-symlinks # Symlinks that don't point to anything?
      - id: check-yaml # Check Yaml file syntax
        args: [--allow-multiple-documents]
      - id: debug-statements # Avoid commiting debug/breakpoints
      - id: end-of-file-fixer # Normalise on exactly one newline
        exclude: '^integration_tests/schemas/'
      - id: fix-byte-order-marker # No UTF-8 byte order marks
      - id: mixed-line-ending # Don't allow mixed line endings
      - id: pretty-format-json
        args: ['--no-sort-keys', '--indent=4', '--autofix']
        # (Exclude Typescript config: it uses json5 extensions)
        exclude: 'tsconfig.json|^integration_tests/schemas/'
      - id: requirements-txt-fixer # Keep requirements files sorted.
      - id: trailing-whitespace # Auto remove trailing whitespace
        exclude: '^integration_tests/schemas/'
