--extra-index-url https://packages.dea.gadevs.ga/ 
digitalearthau==20180116+268.g391cbc0
eodatasets==0.10+40.g759cbb2
-e git://github.com/maxcountryman/flask-themes@9eac2dcc9b81c3af29c2386ce1afba9b446562bf#egg=Flask-Themes
affine==2.2.2
alabaster==0.7.12
amqp==2.4.2
appdirs==1.4.3
aspy.yaml==1.2.0
atomicwrites==1.3.0
attrs==19.1.0
Automat==0.7.0
Babel==2.6.0
beautifulsoup4==4.7.1
billiard==3.6.0.0
black==19.3b0
boltons==19.1.0
bs4==0.0.1
cachetools==3.1.0
celery==4.3.0
certifi==2019.3.9
cfgv==1.6.0
cftime==1.0.3.4
chardet==3.0.4
checksumdir==1.1.6
ciso8601==2.1.1
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==0.8.1
colorama==0.4.1
constantly==15.1.0
coverage==4.5.3
cssselect==1.0.3
dask==1.2.0
dataclasses==0.6
datacube==1.6.2
DAWG==0.7.8
docopt==0.6.2
docutils==0.14
entrypoints==0.3
fake-useragent==0.1.11
Fiona==1.8.6
flake8==3.7.7
Flask==1.0.2
Flask-Caching==1.7.1
freezegun==0.3.11
GeoAlchemy2==0.6.1
geographiclib==1.49
hyperlink==19.0.0
identify==1.4.1
idna==2.8
imagesize==1.1.0
importlib-metadata==0.9
importlib-resources==1.0.2
incremental==17.5.0
isort==4.3.17
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.1
kombu==4.4.0
lxml==4.3.2
MarkupSafe==1.1.1
mccabe==0.6.1
mock==2.0.0
more-itertools==4.3.0
munch==2.3.2
netCDF4==1.4.3.2
nodeenv==1.3.3
nose==1.3.7
numpy==1.16.0
packaging==19.0
pandas==0.24.2
parse==1.11.1
pbr==5.0.0
pipenv==2018.11.26
pipreqs==0.4.9
pluggy==0.8.0
pre-commit==1.14.4
pretend==1.0.9
psycopg2==2.7.7
py==1.7.0
pycodestyle==2.5.0
pydash==4.7.4
pyee==5.0.0
pyflakes==2.1.1
Pygments==2.3.1
PyHamcrest==1.9.0
pyorbital==1.5.0
pyparsing==2.3.1
pyPEG2==2.15.2
pyppeteer==0.0.25
pyproj==2.1.1
pyquery==1.4.0
pyrsistent==0.14.11
pytest==4.3.1
pytest-cov==2.6.1
python-dateutil==2.8.0
python-rapidjson==0.7.0
pytz==2018.9
PyYAML==5.1
rasterio==1.0.21
redis==3.2.1
requests==2.21.0
requests-html==0.10.0
scipy==1.2.1
Shapely==1.6.4.post2
simplejson==3.16.0
simplekml==1.3.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
snuggs==1.4.3
soupsieve==1.8
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.3.1
structlog==19.1.0
toml==0.10.0
toolz==0.9.0
tqdm==4.31.1
Twisted==18.9.0
urllib3==1.24.1
vine==1.2.0
virtualenv==16.0.0
virtualenv-clone==0.4.0
w3lib==1.20.0
websockets==7.0
Werkzeug==0.14.1
xarray==0.12.0
yarg==0.1.9
zipp==0.3.3
zope.interface==4.6.0
