cython3
gdal-bin
gfortran
libatlas-base-dev
libgdal-dev
libhdf5-serial-dev
liblapack-dev
libnetcdf-dev
libproj-dev
libudunits2-0
libudunits2-dev
libxml2-dev
libxslt-dev
postgresql-11-postgis-2.5
shellcheck
python3
python3-pip
git
