{% extends "layout/base.html" %}

{% block title %}About Products{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">

        a {
            font-weight: bold;
        }

        body {
            max-width: 100%;
        }
        .uri-path {
            margin-bottom: 10px;
        }

        tbody tr:hover {
            background-color: #f0f0f0;
        }

        .panel.overflowable {
            overflow-x: auto;
        }
    </style>
{% endblock %}
{% block panel %}

{% endblock %}
{% block content %}
    <div class="panel">
        <h2 class="followed">{{ product_summary_uris | length }} Products</h2>
        <div class="header-follow">
            Open Data Cube {{ datacube_version }}
            {# TODO: Links to Website, CMI Metadata, DEA, ODC, help? #}
            <a href="{{ url_for('product.products_csv') }}" class="badge">csv <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="panel overflowable">
        <table class="data-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="numeric">Count</th>
                    <th>Location</th>
                    <th class="numeric">License</th>
                    <th>Definition</th>
                    <th>Metadata Type</th>
                </tr>
            </thead>
            <tbody>
                {% for product, summary, uris in product_summary_uris %}
                <tr>
                    <td>{{ product.name | product_link }}</td>
                    <td class="numeric">{{ '{:,d}'.format(summary.dataset_count) }}</td>
                    <td>
                        {% if uris -%}
                            {%- for uri in uris[:3] -%}
                                <div class="uri-path">{{- uri -}}</div>
                            {%- endfor -%}
                            {# Finish with ellipsis if there was no single common prefix #}
                            {%- if uris | length > 1 -%}
                               <span class="badge">...and more</span>
                            {% endif %}
                        {% else -%}
                            -
                        {%- endif %}
                    </td>
                    <td class="numeric">{{ product | product_license_link }}</td>
                    <td><a href="{{url_for('product.raw_product_doc', name=product.name)}}" class="badge">doc</a></td>
                    <td>
                        <a href="{{ url_for('product.metadata_type_page', name=product.metadata_type.name) }}">
                            {{ product.metadata_type.name }}
                        </a>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
