{% extends "layout/base.html" %}
{% set active_page = "arrivals" %}

{% block title %}Recent Arrivals{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="followed">Recent Arrivals</h2>
    <span class="header-follow">over {{ period_length.days }} days</span>
    </div>

    <div class="panel">
        {% for day, arrivals in arrival_days %}
            <h3>{{ day.strftime('%d %B %Y') }}</h3>
            <ul>
                {% for arrival in arrivals %}
                    <li>
                        <span class="numeric">
                            {{- arrival.product_name | product_link  -}}
                        </span>:
                        {{  '{:,d}'.format(arrival.dataset_count) }}  datasets
                        <span class="muted">
                            ({%- for dataset_id in arrival.sample_dataset_ids -%}
                                <a href="{{ url_for('dataset.dataset_page', id_=dataset_id) }}" class="muted">
                                    {{- loop.index -}}
                                </a>,
                            {% endfor %} ...)
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No datasets found
        {% endfor %}
    </div>
{% endblock %}

