{% extends "layout/base.html" %}

{% block title %}Audit Dashboard{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .sub-header {
            line-height: 1.4em;
        }

        a {
            font-weight: bold;
        }

        .panel {
            line-height: 1.5em;
        }
        th, td{
            padding: 5px 10px;
        }
        body {
            width: 100%;
            max-width: 100%;
        }
    </style>
{% endblock %}
{% block panel %}

{% endblock %}
{% block content %}
    <div class="panel highlight">
        <h2>Dataset Audit</h2>
        <div class="sub-header">
            Open Data Cube {{ datacube_version }}
        </div>
    </div>
    <div class="panel">
        Products available on this Open Data Cube instance
        {# TODO: Links to Website, CMI Metadata, DEA, ODC, help? #}
    </div>
    {% from "layout/macros.html" import chart_timeline %}
    <div class="panel odd">
        <table>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <!-- <th>Product Description</th> -->
                    <th>Dataset count</th>
                    <th>URI</th>
                </tr>
            </thead>
            <tbocdy>
                {% for product in dashboard %}
                <tr>
                    <td>{{ product.product_name }}</td>
                    <!-- <td>{{ product.description }}</td> -->
                    <td>{{ product.dataset_count }}</td>
                    <td>{{ product.uri }}</td>
                </tr>
              {% endfor %}
            </tbocdy>
        </table>


    </div>
{% endblock %}
