<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>

    {% block head %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet"
              href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css">
        <link rel="stylesheet"
              href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css">
        <link rel="stylesheet"
              href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.css">
        <link rel="stylesheet" href="/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css">
        <link rel="stylesheet" href="/css/normalise.css">
    {% endblock %}
    <style type="text/css">
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            background: #fcfcfc;
            max-width: 1024px;
            margin: 20px auto 0;
            padding: 0 15px;
            color: #424242;
        }

        a {
            color: #2b2b2b;
        }

        #header {
            background: linear-gradient(to bottom, #424242 0%, #6f7173 100%);
            color: #efefef;
        }
        #header .panel {
            padding: 15px;
            line-height: 20px;
            height: 20px;
        }

        #logo {
            line-height: 45px;
            padding: 0 15px;
            font-size: 1.6em;
            text-decoration: none;
            font-weight: bold;
            color: inherit;
        }
        #logo .sub-heading {
            font-size: 0.8em;
            color: #959595;
            font-weight:normal;
        }
        #logo, nav {
            display: inline-block;
            vertical-align: bottom;
        }

        nav ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: right;
            vertical-align: bottom;
        }
        nav li {
            float: left;
            margin: 0;
        }
        nav li a {
            padding: 4px 9px;
            display: inline-block;
            background: #2b2b2b;
            border-color: #2b2b2b;
            color: #efefef;
            text-decoration: none;
            font-size: 0.86em;
        }
        nav li a:hover {
            background: linear-gradient(to bottom, #464646 0%, #424242 100%);
        }
        nav li a:active, nav li a.active {
            background: linear-gradient(to bottom, #464646 0%, #424242 100%);
        }
        #header {
            clear: left;
        }

        #content {
            width: auto;
            background-color: #ebf0f2;
        }

        #content .panel {
            padding: 15px;
            background: #a1a4a6;
        }
        #content .panel.odd {
            background-color: #d2d7d9;
        }
        .panel h2 {
            margin-top: 0;
        }

        <!-- tables of values -->
        .panel .data-table {
            margin: 0 -15px;
        }

        .panel .data-table {
            margin: 0 -15px;
        }
        .data-table th {
            font-weight: bold;
            font-size: 0.7em;
        }
        .data-table td, .data-table th {
            padding: 5px 15px;
            text-align: left;
        }

        .data-table.numerical td, .data-table.numerical th {;
            text-align: right;
        }

        .data-table td.zero {
            color: #ababab;
        }

    </style>
</head>
<body>
<a href="/" id="logo">DataCube <span class="sub-heading">products</span></a>
{% if selected_product %}
<nav>
    <ul>
        <li><a href="/?product={{ selected_product }}" class="active">Map</a></li>
        <li><a href="/timeline/{{ selected_product }}">Timeline</a></li>
        <li><a href="/datasets?product={{ selected_product }}">Datasets</a></li>
    </ul>
</nav>
{% endif %}
{% block panel %}
<div id="header">
    <div class="panel">

            <select name="products" id='select-product'>
                {% for product in products %}
                    <option value="{{ product.name }}"
                            {% if product.name == selected_product %}selected="selected"{% endif %}>
                        {{ product.description }}
                    </option>
                {% endfor %}
            </select>

    </div>
</div>
{% endblock %}
<div id="content">{% block content %}{% endblock %}</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
{% block footer %}{% endblock %}
</body>
</html>