<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='normalise.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css') }}">
    {% block head %}{% endblock %}

</head>
<body>
<div id="logo">
    <a href="/">
        <span>DataCube</span>
        <span class="subheading">products</span>
    </a>
</div>

{% block header %}{% endblock %}
<div id="content">{% block content %}{% endblock %}</div>

<script src="{{ url_for('static', filename='jquery-3.1.0.min.js') }}"></script>
{% block footer %}{% endblock %}
</body>
</html>