{% extends "layout/base.html" %}

{% block title %}{{ metadata_type.name }} definition{% endblock %}


{% block head %}
    {{ super() }}
    <style type="text/css">
        h2, h3 {
            display: inline-block;
        }

        .sub-header {
            display: inline-block;
        }
    </style>
{% endblock %}
{% block panel %}

{% endblock %}
{% block content %}
    {% from "layout/macros.html" import query_param_list, show_raw_document %}

    <div class="panel odd">
        <h2><span class="metadata-type-name">{{ metadata_type.name }}</span></h2>
        <div class="sub-header">metadata type of {{ products_using_it | length }} products</div>

        <div><em>
            {{ metadata_type.definition['description'] }}
        </em></div>

    </div>
    <div class="panel">
        <h3>Usage</h3>
        {% if products_using_it %}
            <div class="type-usage-list">
                {% for product in products_using_it %}
                    <div class="type-usage-item">{{ product.name | product_link }}</div>
                {% endfor %}
            </div>
        {% else %}
            <em>None</em>
        {% endif %}
    </div>

    <div class="panel odd">
        <h3>Definition</h3>
        <div class="sub-header">
            <a href="{{ url_for('product.raw_metadata_type_doc', name=metadata_type.name) }}"
               class="badge">
                View RAW
            </a>
        </div>
        {{ show_raw_document(metadata_doc) }}
    </div>

{% endblock %}
