{% extends "layout/product-section.html" %}
{% set active_page = "overview" %}
{% block title %}{{ product.name }}{% endblock %}


{% block content %}
    {% from "layout/macros.html" import query_param_list, show_raw_document %}

    <div class="panels">
        <div class="map-panel relative">
            <div id="msg-no-results" class="message-box">
                {% if selected_summary %}
                    <span>No displayable datasets for period</span>
                {% else %}
                    <span>No data: not yet generated</span>
                {% endif %}
            </div>
            <div id="map"></div>
        </div>
        {% if product %}
            <div>
                <div class="panel highlight product-description">
                    {{ product.definition.description }}
                </div>
                <div class="panel info-panel">
                    {% if year %}
                        <h3>
                        {% if month %}
                            {% if day %}{{ day }}
                            {% endif %}
                            {{ month | month_name }}
                        {% endif %}
                        {{ year }}
                        </h3>
                    {% endif %}
                    <a href="{{ url_for('search_page', **product_args) }}" class="muted"
                    >{{ selected_summary.dataset_count if selected_summary else 'Unknown number of' }} datasets</a>

                    {% if selected_summary.dataset_count != selected_summary.footprint_count %}
                        ({{ selected_summary.footprint_count or 'None' }} visible)
                    {% endif %}

                <ul>


                {% if selected_summary.size_bytes %}
                        <li>{{ selected_summary.size_bytes | printable_data_size }}</li>
                    {% endif %}

                    {% if selected_summary.footprint_geometry %}
                        <li>{{ selected_summary.footprint_geometry | albers_area}} (approx.)</li>
                    {% endif %}
                    {% if selected_summary.region_dataset_counts %}
                        <li>
                            {{ selected_summary.region_dataset_counts | length }} unique regions
                        </li>
                    {% endif %}
                    {% if selected_summary.crses %}
                        <li>
                            <span title="{{  selected_summary.crses | sort | join(', ') }}">{{ selected_summary.crses | length}} dataset CRS</span>
                        </li>
                    {% endif %}

                    {% if selected_summary.newest_dataset_creation_time %}
                        <li>Last processed {{ selected_summary.newest_dataset_creation_time | timesince }}</li>
                    {% endif %}
                </ul>

                <h4>Fields ({{ product.metadata_type.name }})</h4>

                {{ query_param_list(product.fields, descriptions=product.metadata_type.dataset_fields) }}


                {# These fields are enforced by dataset-type-schema.yaml #}
                {% if product.definition.storage %}
                    <h4>Storage</h4>
                    {{ query_param_list(product.definition.storage, show_dicts=true) }}
                {% endif %}

                {% if product.definition.measurements %}
                    <h4>Measurements</h4>
                    <ul>
                        {% for measurement in product.definition.measurements %}
                            <li>
                                <div>
                                    {% for a in measurement.aliases %}<span class="muted">{{ a }}</span>
                                        / {% endfor %}
                                    <span class="muted">{{ measurement.name }}</span>
                                </div>
                                {#                            <div>#}
                                {#                                type {{ measurement.dtype }};#}
                                {#                                units {{ measurement.units }};#}
                                {#                                nodata {{ measurement.nodata }}#}
                                {#                            </div>#}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}


                <p>
                    <a href="{{ url_for('product.product_page', name=product.name) }}"
                       class="muted">raw metadata</a>
                </p>

                {# Mostly useful for debugging: hide in page source code. Users should look at page footer instead. #}
                {% if selected_summary.newest_dataset_creation_time %}
                <!-- Summarised {{ selected_summary.summary_gen_time | timesince }} -->
                {% endif %}
            </div>



        {% endif %}
    </div>
{% endblock %}


{% block body_footer %}

    {{ super() }}

    {% from "layout/macros.html" import chart_timeline %}
    <script type="application/javascript">
        (function () {
            var msgNoResults = document.getElementById("msg-no-results");
            var osm_mono = L.tileLayer('//{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            });
            var osm_carto_light = L.tileLayer(
                "//cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors,' +
                        ' &copy; <a href="https://cartodb.com/attributions">CartoDB</a>'
                }
            );

            var map = L.map("map", {
                zoom: 3,
                center: [-26.2756326, 134.9387844],
                layers: [osm_carto_light],
                zoomControl: false,
                attributionControl: false,
                scrollWheelZoom: false
            });
            L.control.groupedLayers(
                {
                    "Topography": osm_carto_light,
                    "Imagery": L.layerGroup([
                            L.tileLayer(
                                "//basemap.nationalmap.gov/arcgis/rest/services/USGSImageryOnly/MapServer/" +
                                "tile/{z}/{y}/{x}",
                                {
                                    maxZoom: 15
                                }
                            ),
                            L.tileLayer.wms(
                                "//raster.nationalmap.gov/arcgis/services/Orthoimagery/USGS_EROS_Ortho_SCALE/" +
                                "ImageServer/WMSServer?",
                                {
                                    minZoom: 16,
                                    maxZoom: 19,
                                    layers: "0",
                                    format: 'image/jpeg',
                                    transparent: true,
                                    attribution: "Aerial Imagery courtesy USGS"
                                }
                            )
                        ]
                    )
                },
                {},
                {
                    position: 'bottomright',
                    collapsed: false
                }
            ).addTo(map);

            L.control.zoom({position: "bottomright"}).addTo(map);


            {# Is there anything to show? #}
            {% if selected_summary.footprint_count %}
                msgNoResults.style.display = 'none';
                {# We either have many polygons (one per dataset), or a single polygon of the combined footprint #}
                {% if regions_geojson %}
                    let regions = {{ regions_geojson | tojson}};
                    var getBin = function (v, bin_count) {
                            let min_v = regions.properties.min_count,
                                max_v = regions.properties.max_count,
                                range = max_v - min_v,
                                val = v - min_v;

                            if (range < bin_count) {
                                var padding = bin_count - range;
                                return padding + val - 1;
                            } else {
                                var bin_width = range / bin_count;
                                return Math.round(val / bin_width) - 1;
                            }
                        },
                        getColor = function (count) {
                            let colorSteps = ['#eff3ff', '#c6dbef', '#9ecae1', '#6baed6', '#3182bd', '#08519c'],
                                bin = getBin(count, colorSteps.length);
                            return colorSteps[bin];
                        };
                    var dataset_data = L.geoJson(regions,
                        {
                            style: function (feature) {
                                return {
                                    color: "#f2f2f2",
                                    fill: true,
                                    fillColor: getColor(feature.properties.count),
                                    opacity: 0.6,
                                    fillOpacity: 0.4,
                                    weight: 1,
                                    clickable: false
                                };
                            },
                            onEachFeature: function (feature, layer) {
                                layer.on({
                                    mouseover: function (e) {
                                        var layer = e.target;

                                        layer.setStyle({
                                            color: '#375400',
                                        });

                                        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                                            layer.bringToFront();
                                        }

                                        datasetInfoControl.update(layer.feature.properties);
                                    }
                                    ,
                                    mouseout: function (e) {
                                        dataset_data.resetStyle(e.target);
                                        datasetInfoControl.update();
                                    },
                                    click: function (e) {
                                        {#var props = e.target.feature.properties;#}
                                        {#window.location.href = '/dataset/' + props.id;#}
                                    }
                                });
                            }
                        });
                    map.addLayer(dataset_data);

                    {# Show information for the hovered dataset #}
                    var datasetInfoControl = L.control({position: "bottomleft"});
                    datasetInfoControl.onAdd = function (map) {
                        this._div = L.DomUtil.create('div', 'dataset-info');
                        this.update();
                        return this._div;
                    };
                    datasetInfoControl.update = function (props) {
                        if (props) {
                            this._div.innerHTML = '<div><strong>' + regions.properties.region_item_name + ' ' +
                                props.region_code +
                                '</strong></div>' +
                                props.count +
                                ' dataset(s)';
                        } else {
                            this._div.innerHTML = '<div>'+regions.features.length+' unique regions</div>';
                        }
                    };
                    map.addControl(datasetInfoControl);

                    map.fitBounds(dataset_data.getBounds(), {animate: false, maxZoom: 6});
                {% else %}
                    var composite_data = L.geoJson({{ footprint_wrs84.__geo_interface__ | tojson }},
                        {
                            interactive: false,
                            style: function (feature) {
                                return {
                                    color: "#00A1DE",
                                    fill: true,
                                    fillColor: "#8FCAE7",
                                    opacity: 0.3,
                                    weight: 2,
                                    clickable: false
                                };
                            }
                        }
                    );
                    map.addLayer(composite_data);
                    map.fitBounds(composite_data.getBounds(), {animate: false, maxZoom: 6});
                {% endif %}
            {% endif %}


            {% if selected_summary.timeline_dataset_counts and (selected_summary.timeline_dataset_counts | length > 1) %}
                var timelineControl = L.control({position: "topright"});
                timelineControl.onAdd = function (map) {
                    var div = L.DomUtil.create("div", "timeline-control");
                    div.innerHTML = {{
                        chart_timeline(
                            selected_summary.timeline_dataset_counts,
                            product,
                            period=selected_summary.timeline_period
                        ) | tojson
                        }};
                    return div;
                };
                map.addControl(timelineControl);
            {% endif %}

            window.MAP = map;
        })();
    </script>
{% endblock %}
