{% extends "layout/base.html" %}

{% block title %}Products{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .panel > h2 {
            margin-bottom: 30px;
        }


    </style>
{% endblock %}

{% block content %}
    <div class="panel highlight">
        <h2 class="followed lonesome">{{ datacube_products | count }} Local Products</h2>
        <div class="header-follow">
            <a href="{{ url_for('product.product_list_text') }}"
               class="badge header-badge">
                Text <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </a>
        </div>
        <a href="{{ url_for('stac.collections') }}"
               class="badge header-badge">
            As Stac <i class="fa fa-file-text-o" aria-hidden="true"></i>
        </a>
    </div>
    {% for group_name, product_summaries in grouped_products %}
    <div class="panel">
        {% if group_name %}
            <h2 class="group-name">{{ group_name }}</h2>
        {% endif %}

        {% for product, summary in product_summaries %}
            <h3>
                <a href="{{ url_for('product.product_page', name=product.name) }}"
                   class="{% if summary.dataset_count == 0 %}muted{% endif %}"
                    >{{ product.name }}</a>
            </h3>
             <div>{{ product.definition.description }}</div>
        {% endfor %}

    </div>
    {% endfor %}
{% endblock %}
