{% extends "layout/base.html" %}

{% block title %}{{ product.name }} definition{% endblock %}


{% block head %}
    {{ super() }}
{% endblock %}
{% block panel %}

{% endblock %}
{% block content %}
    {% from "layout/macros.html" import query_param_list, show_raw_document %}

    <div class="panel odd">
        {{ show_raw_document(metadata_doc) }}
    </div>

    <div class="panel">
        Return to <a href="{{ url_for('overview_page', product_name=product.name) }}">overview</a>
    </div>

{% endblock %}
