{% extends "layout/base.html" %}

{% block title %}Products{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .panel.odd > h3 {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    {% for group_name, product_summaries in grouped_products %}
    <div class="panel">
        {% if group_name %}
            <h3 class="group-name">{{ group_name }}</h3>
        {% endif %}

        {% for product, summary in product_summaries %}
            <h3 class="followed">
                <a href="{{ url_for('product.product_page', name=product.name) }}">
                    {{ product.name }}
                </a>
            </h3>
            <div class="header-follow">({{ summary.dataset_count }} total datasets)</div>
                <div>{{ product.definition.description }}</div>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
