{% extends "layout/product-section.html" %}
{% set additional_page_args={'region_code': region_code} %}
{% set active_page = "datasets" %}

{% block title %}{{ super() }} search{% endblock %}

{% block content %}
    <div class="panel relative">
        <h3>{{ product_region_info.region_label(region_code) }}</h3>
        {% if datasets %}
            <p>
                {{ datasets | length }} dataset{% if datasets | length > 1 %}s{% endif %}
                {% if datasets|length == result_limit %}<strong>(query limit)</strong>{% endif %}
            </p>
        {% else %}
            <p>No datasets.</p>
        {% endif %}
    </div>
    <div class="panel odd">
        {% if datasets %}
            <table class="data-table">
                <thead>
                <th>Time</th>
                <th>Label</th>
                </thead>
                {% for dataset in datasets %}
                    <tr class="search-result">
                        <td>{{ dataset.center_time | printable_time }}</td>
                        <td>
                            <a href='{{ url_for('dataset.dataset_page', id_=dataset.id) }}'>{{ dataset | printable_dataset }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {{ back_to_product_overview }}
    </div>
{% endblock %}
