{% extends "layout/product-section.html" %}
{% set active_page = "search" %}

{% block title %}Datasets{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .query-param > .key {
            text-transform: capitalize;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="panel relative">
        <form action="{{ url_for('product.search_page', product=selected_product) }}"
              method="get"
              class="grid-form">
            <fieldset>
                <div data-row-span="3">
                    <div data-field-span="1">
                        <label for="search-before">Time From</label>
                        <input type="date"
                               id="search-before"
                               name="time-begin"
                               value="{{ query_params.time.0.strftime('%Y-%m-%d') }}"/>
                    </div>
                    <div data-field-span="1">
                        <label for="search-after">Time To</label>
                        <input type="date"
                               id="search-after"
                               name="time-end"
                               value="{{ query_params.time.1.strftime('%Y-%m-%d') }}"/>
                    </div>
                </div>

                {% for key, field in selected_product_e.metadata_type.dataset_fields | dictsort if value is not mapping and key not in ('time', 'product') %}
                    {# If it's numeric, add start/end input boxes #}
                    {% if field | is_numeric_field %}
                        <div data-row-span="2" id="search-row-{{ key }}"
                             {% if key not in query_params %}class="disabled"{% endif %}>
                            <div data-field-span="1">
                                <label for="search-{{ key }}-begin"
                                       class="key">{{ selected_product_e.metadata_type.dataset_fields[key].description }}
                                    from:</label>
                                <input type="number"
                                       step="{{ field | field_step_size }}"
                                       id="search-{{ key }}-begin"
                                       name="{{ key }}-begin"
                                       {% if key not in query_params %}disabled="disabled"{% endif %}
                                       value="{{ query_params[key] and query_params[key].begin or '' }}"/>

                            </div>
                            <div data-field-span="1">
                                <label for="search-{{ key }}-end"
                                       class="key">{{ selected_product_e.metadata_type.dataset_fields[key].description }}
                                    to:</label>
                                <input type="number"
                                       id="search-{{ key }}-end"
                                       step="{{ field | field_step_size }}"
                                       name="{{ key }}-end"
                                       {% if key not in query_params %}disabled="disabled"{% endif %}
                                       value="{{ query_params[key] and query_params[key].end or '' }}"/>
                            </div>
                        </div>
                    {% else %}
                        <div data-row-span="1" id="search-row-{{ key }}"
                             {% if key not in query_params %}class="disabled"{% endif %}>
                            <div data-field-span="1">
                                <label for="search-{{ key }}"
                                       class="key">{{ selected_product_e.metadata_type.dataset_fields[key].description }}:</label>
                                <input type="text"
                                       id="search-{{ key }}"
                                       name="{{ key }}"
                                       {% if key not in query_params %}disabled="disabled"{% endif %}
                                       value="{{ query_params[key] | default('') }}"/>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
                <div data-row-span="3">
                    <div data-field-span="1">
                        <button type="submit">Search</button>
                    </div>
                </div>
            </fieldset>


        </form>
        <div class="grid-form">
            <fieldset>
                <div data-row-span="3">
                    <div data-field-span="1">
                        <label for="add-search-field-type"
                               class="key">Add Field</label>
                        <select id="add-search-field-type"
                                name="add-search-field-type">
                            <option value="">-</option>
                            {% for key, field in selected_product_e.metadata_type.dataset_fields |dictsort if key not in query_params %}
                                <option value="{{ key }}">{{ key }}: {{ field.description }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

            </fieldset>

        </div>

    </div>
    <div class="panel odd">
        {% if datasets %}
            <table class="data-table">
                <thead>
                <th>Time</th>
                <th>Dataset</th>
                </thead>
                {% for dataset in datasets %}
                    <tr>
                        <td>{{ dataset.center_time | printable_time }}</td>
                        <td>
                            <a href='{{ url_for('dataset.dataset_page', id_=dataset.id) }}'>{{ dataset | printable_dataset }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            No results.
        {% endif %}
    </div>
{% endblock %}


{% block footer %}
    <script type="application/javascript">
        $('#select-product').change(function () {
            var product = $('#select-product :selected').val();
            // TODO: Other query params?
            window.location.href = '/' + product + '/datasets';
        });


        $('#add-search-field-type').change(function () {
            var add_field_name = $('#add-search-field-type').val();

            var row = $('#search-row-' + add_field_name);
            row.removeClass('disabled');
            row.find('input, select').prop('disabled', false);

            $('#add-search-field-type').val('');
        });

    </script>
{% endblock %}
