{% extends "layout.html" %}
{% set active_page = "spacial" %}

{% block title %}Map{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        #map {
            width: 100%;
            height: calc(100vh - 100px);
        }

        #loading {
            position: absolute;
            left: calc(50% - 50px);
            top: 50%;
            width: 100px;
            text-align: center;
            z-index: 9999;
            background: #2b2b2b linear-gradient(to bottom, #6f7173 0%, #424242 100%);
            padding: 13px 15px;
            color: #fff;
        }
    </style>

    <script>

    </script>
{% endblock %}


{% block selector %}
    {{ super() }}
        <select id='select-year'>
            {% for year in range(2016, 1985, -1) %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
        <select id='select-month'>
            {% for month in range(1, 13) %}
                <option value="{{ month }}">{{ month }}</option>
            {% endfor %}
        </select>
{% endblock %}

{% block content %}
    <div id="loading">Loading...</div>
    <div id="map"></div>
{% endblock %}


{% block footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js"></script>
    <script src="leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js"></script>
    <script src="/js/app.js"></script>
    <script type="application/javascript">

        function reload_map() {
            var product = $('#select-product :selected').val();
            var year = $('#select-year :selected').val();
            var month = $('#select-month :selected').val();

            $("#loading").show();
            datasets.clearLayers();

            $.getJSON("/api/datasets/" + product + "/" + year + "-" + month, function (data) {
                datasets.addData(data);
                $("#loading").hide();
            })
        }
        $('#select-month').change(reload_map);
        $('#select-year').change(reload_map);
        $('#select-product').change(reload_map);
        reload_map();
    </script>
{% endblock %}