{% extends "layout/product-section.html" %}
{% set active_page = "spatial" %}

{% block title %}{{ super() }} map{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='leaflet-1.2.0/leaflet.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.css') }}">
{% endblock %}


{% block selector %}
    {{ super() }}
    <select id='select-year' aria-label="Year" title="Select year">
        {% for year in range(current_year, 1985, -1) %}
            <option value="{{ year }}"
                    {% if (year|string) == request.args.get('year') %}selected='selected'{% endif %}>
                {{ year }}
            </option>
        {% endfor %}
    </select>
    <select id='select-month' aria-label="Month" title="Select month">
        {% for month in range(1, 13) %}
            <option value="{{ month }}"
                    {% if (month|string) == request.args.get('month') %}selected='selected'{% endif %}>
                {{ month | month_name }}
            </option>
        {% endfor %}

    </select>
{% endblock %}

{% block content %}
    <div id="msg-loading" class="message-box">
        <i class="fa fa-cog fa-spin fa-fw"></i>
        <span>Loading...</span>
    </div>
    <div id="msg-no-results" class="message-box">
        <span>No datasets for period</span>
    </div>
    <div id="map"></div>
{% endblock %}


{% block footer %}
    <script src="{{ url_for('static', filename='leaflet-1.2.0/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js') }}"></script>
    <script type="application/javascript">
        (function () {
            function sizeLayerControl() {
                $(".leaflet-control-layers").css("max-height", $("#map").height() - 50);
            }

            $(window).resize(function () {
                sizeLayerControl();
            });

            /* Basemap Layers */
            var cartoLight = L.tileLayer(
                "//cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors,' +
                    ' &copy; <a href="https://cartodb.com/attributions">CartoDB</a>'
                }
            );
            var usgsImagery = L.layerGroup([
                    L.tileLayer(
                        "//basemap.nationalmap.gov/arcgis/rest/services/USGSImageryOnly/MapServer/" +
                        "tile/{z}/{y}/{x}",
                        {
                            maxZoom: 15
                        }
                    ),
                    L.tileLayer.wms(
                        "//raster.nationalmap.gov/arcgis/services/Orthoimagery/USGS_EROS_Ortho_SCALE/" +
                        "ImageServer/WMSServer?",
                        {
                            minZoom: 16,
                            maxZoom: 19,
                            layers: "0",
                            format: 'image/jpeg',
                            transparent: true,
                            attribution: "Aerial Imagery courtesy USGS"
                        }
                    )
                ]
            );

            var datasets = L.geoJson(null, {
                style: function (feature) {
                    return {
                        color: "#8FCAE7",
                        fill: true,
                        fillColor: "#888a8c",
                        opacity: 0.6,
                        weight: 2,
                        clickable: false
                    };
                }
            });


            var map = L.map("map", {
                zoom: 4,
                center: [-26.2756326, 134.9387844],
                layers: [cartoLight, datasets],
                zoomControl: false,
                attributionControl: false
            });


            var attributionDiv;
            var attributionControl = L.control({position: "bottomright"});
            attributionControl.onAdd = function (map) {
                attributionDiv = L.DomUtil.create("div", "leaflet-control-attribution");
                return attributionDiv;
            };
            map.addControl(attributionControl);

            function updateAttribution(e) {
                $.each(map._layers, function (index, layer) {
                    if (layer.getAttribution) {
                        attributionDiv.innerHTML = layer.getAttribution();
                    }
                });
            }

            map.on("layeradd", updateAttribution);
            map.on("layerremove", updateAttribution);

            L.control.zoom({position: "bottomright"}).addTo(map);
            L.control.groupedLayers(
                {
                    "Street Map": cartoLight,
                    "Aerial Imagery": usgsImagery
                },
                {},
                {
                    collapsed: false
                }
            ).addTo(map);

            var msgLoading = $("#msg-loading"),
                msgNoResults = $("#msg-no-results").hide(),
                customTimePeriod = false;

            function reload_map() {
                var product = $('#select-product :selected').val();
                var year = $('#select-year :selected').val();
                var month = $('#select-month :selected').val();

                msgNoResults.hide();
                msgLoading.show();
                datasets.clearLayers();

                $.getJSON("/api/datasets/" + product + "/" + year + "-" + month + "/poly", function (data) {
                    datasets.addData(data);
                    msgLoading.hide();

                    if (data.properties.dataset_count == 0) {
                        msgNoResults.show();
                    }
                })
            }

            $('#select-month, #select-year').change(function () {
                reload_map();
                customTimePeriod = true;
            });

            $('#select-product').change(function () {
                var product = $('#select-product :selected').val(),
                    year = $('#select-year :selected').val(),
                    month = $('#select-month :selected').val(),
                    queryParams = window.location.search;

                // Only add specific time parameters if they've edited them.
                if (customTimePeriod) {
                    queryParams = '?year=' + year + '&month=' + month;
                }
                window.location.href = '/' + product + '/spatial' + queryParams;
            });
            reload_map();
        })();

    </script>
{% endblock %}
