{% extends "layout/product-section.html" %}
{% set active_page = "timeline" %}

{% block title %}Timeline{% endblock %}

{% block content %}
    <div class="panel overflow">
        {% from "layout/macros.html" import chart_timeline %}
        {{ chart_timeline(timeline, selected_product) }}
    </div>
    <div class="panel odd">
        <table class="data-table numerical">
            <thead>
            <th></th>
            {% for month in range(1, 13) %}
                <th>{{ month | month_name }}</th>
            {% endfor %}
            </thead>
            {% for group in timeline | groupby('0.begin.year') %}
                <tr>
                    <th>{{ group.grouper }}</th>
                    {% for (start_time, end_time), count in group.list %}
                        {% if not count %}
                            <td class="zero"
                                title="No datasets for {{ start_time.month | month_name }} {{ start_time.year }}">0
                            </td>
                        {% else %}
                            <td class="link-cell">
                                <a href="{{ url_for('product.search_page',
                                            product=selected_product,
                                            **{"time-begin": start_time, "time-end": end_time}) }}"
                                   title="View datasets for {{ start_time.month | month_name }} {{ start_time.year }}">
                                    {{ count or 0 }}
                                </a>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}


{% block footer %}
    <script type="application/javascript">
        $('#select-product').change(function () {
            var product = $('#select-product :selected').val();
            window.location.href = '/' + product + '/timeline';
        });
    </script>
{% endblock %}
