{% extends "layout.html.jinja2" %}

{% block title %}Timeline{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        #bar-chart {
            font-size: 0;
            height: 50px;
        }

        .bar {
            width: 3px;
            display: inline-block;
            background-color: #424242;
        }
    </style>
{% endblock %}
{% block content %}
    <html>
    <div class="panel">
        <div id="bar-chart" style="width: {{ 3*year_month_counts|length*12 }}px">
            {% for year in year_month_counts %}
                {% for month in range(1, 13) %}
                    <span class="bar" style="height: {{ (year_month_counts[year][month] or 0)/max_count*100 }}%"></span>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="panel odd">
        <table class="data-table numerical">
            <thead>
            <th></th>
            {% for month in range(1, 13) %}
                <th>{{ month }}</th>
            {% endfor %}
            </thead>
            {% for year in year_month_counts %}
                <tr>
                    <th>{{ year }}</th>
                    {% for month in range(1, 13) %}
                        <td {% if not year_month_counts[year][month] %}class="zero"{% endif %}>
                            {{ year_month_counts[year][month] or 0 }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    </html>
{% endblock %}


{% block footer %}
    <script type="application/javascript">
        $('#select-product').change(function () {
            var product = $('#select-product :selected').val();
            window.location.href = product;
        });
    </script>
{% endblock %}