[Unit]
Description=Generate access log report for deadash

[Service]
User=nginx
Group=nginx

Type=oneshot

WorkingDirectory=/var/www/dea-dashboard/cubedash/static

ExecStart=/var/www/dea-dashboard/deployment/deadash-gen-logs.sh

PrivateTmp=true

