{% extends "layout/base.html" %}
{% block title %}Reports{% endblock %}

{% block content %}

    <h3><strong>Product Summaries</strong></h3>
    <div class="panel">
        {% block report_header %}{% endblock %}
        <div id="summary-content">
            {% block summary_content %}{% endblock %}
        </div>
    </div>

    <h3><strong>Product differences</strong></h3>
    <div class="panel">
        {% block diff_header %}{% endblock %}
        <div id="diff-content">
            {% block diff_content %}{% endblock %}
        </div>
    </div>

{% endblock %}
