<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css') }}">
    {% block head %}{% endblock %}

</head>
<body>
<div class="content-wrapper">
    <div class="header-wrapper">
        <div id="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='dea-logo-inline-reversed.png') }}"
                     alt="Digital Earth Australia"/>
            </a>
        </div>
        {% block header %}{% endblock %}
    <div style="clear:left;"></div>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>

    <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='gridforms/gridforms.js') }}"></script>
    {% block footer %}{% endblock %}
</div>
</body>
</html>
