{% macro chart_timeline(timeline, product, period='month') -%}
    <div class="chart-timeline">
        {% if timeline %}
            {% set max_count = timeline.most_common(1)[0][1] %}
            <div class="chart-timeline-bars">
                {% for start_time, count in timeline.items() | sort %}
                    <a href="{{ url_for('product.overview_page',
                            product_name=product.name,
                            **{
                                'year': start_time.year,
                                'month':start_time.month,
                                'day': start_time.day if period=='day' else None}
                            ) }}"
                       class="chart-timeline-bar {% if start_time[period] == 1 %}new-year{% endif %}"
                       style="height: {{ (count or 0)/(max_count if max_count > 0 else 1)*100 }}%"
                       title="View the {{ count }} datasets for
{{ start_time.day|string + ' ' if period == 'day' else '' }}{{ start_time.month | month_name }} {{ start_time.year }}"
                    ></a>
                {% endfor %}
            </div>
            <div class="chart-timeline-years">
                {% for group in timeline | groupby('year') %}
                    <span class="chart-timeline-year">{{ group.grouper }}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro query_param_list(d, wide=false, show_nulls=true, show_dicts=true) -%}
    <div class="query-param-list {% if wide %}wide{% endif %}">
        {% for key, value in d | dictsort if (show_dicts or value is not mapping) and (show_nulls or value is not none ) recursive %}
            <div class="query-param">
                <span class="key">{{ key }}</span>
                <span class="value">
                    {% if value is mapping %}
                        {{ loop(value.items()) }}
                    {% else %}
                        {{ value | query_value }}
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>
{%- endmacro %}
