{% macro chart_timeline(timeline, product) -%}
    <div class="chart-timeline">
        {% set max_count = timeline.most_common(1)[0][1] %}
        <div class="chart-timeline-bars">
            {% for start_time, count in timeline.items() %}
                <a href="{{ url_for('product.search_page',
                            product_name=product.name,
                            **{'time-begin': start_time}
                            ) }}"
                   class="chart-timeline-bar {% if start_time.month == 1 %}new-year{% endif %}"
                   style="height: {{ (count or 0)/(max_count if max_count > 0 else 1)*100 }}%"
                   title="View the {{ count }} datasets for {{ start_time.month | month_name }} {{ start_time.year }}"></a>
            {% endfor %}
        </div>
        <div class="chart-timeline-years">
            {% for group in timeline | groupby('year') %}
                <span class="chart-timeline-year">{{ group.grouper }}</span>
            {% endfor %}
        </div>
    </div>
{%- endmacro %}

{% macro query_param_list(d) -%}
    <div class="query-param-list">
        {% for key, value in d | dictsort if value is not mapping %}
            <div class="query-param">
                <span class="key">{{ key }}</span>
                <span class="value">{{ value | query_value }}</span>
            </div>
        {% endfor %}
    </div>
{%- endmacro %}
