{% extends "layout/base.html" %}

{# If a user chooses these fields, they carry between different pages. #}
{% set product_args = {
    'product_name':selected_product.name,
    'year': request.args.year,
    'month':request.args.month,
    'day': request.args.day
} %}

{% block title %}{{ selected_product.name }}{% endblock %}

{% block header %}
    <nav>
        <ul>
            {% set navigation_bar = [
                ('overview', 'product.overview_page'),
                ('datasets', 'product.search_page'),
            ] -%}
            {% for id, page_method in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for(page_method, **product_args) }}">
                        {{ id | title }}
                    </a>
                </li>
            {% endfor %}
            <li class="plain"><a href="{{ url_for('about_page') }}">About</a></li>
        </ul>
    </nav>
    <header>
        <select name="products"
                id='select-product'
                title="Select product"
                aria-label="Select product">

            <option value="">All products</option>
            {% for product, summary in products if summary %}
                <option value="{{ product.name }}"
                        {% if product.name == selected_product.name %}selected="selected"{% endif %}>
                    {{ product.name }}: {{ product.definition.description }} ({{ summary.dataset_count }})
                </option>
            {% endfor %}
        </select>
        <select id='select-year' aria-label="Year" title="Select year">
            <option value="">All years</option>
            {% for year in range(
                    selected_summary.time_range.end.year,
                    selected_summary.time_range.begin.year - 1,
                    -1
                ) %}
                <option value="{{ year }}"
                        {% if (year|string) == request.args.get('year') %}selected='selected'{% endif %}>
                    {{ year }}
                </option>
            {% endfor %}
        </select>
        <select id='select-month' aria-label="Month" title="Select month">
            <option value="">All months</option>
            {% for month in range(1, 13) %}
                <option value="{{ month }}"
                        {% if (month|string) == request.args.get('month') %}selected='selected'{% endif %}>
                    {{ month | month_name }}
                </option>
            {% endfor %}
        </select>
        <select id='select-day' aria-label="Day" title="Select day">
            <option value="">All days</option>
            {% for day in range(1, 31) %}
                <option value="{{ day }}"
                        {% if (day|string) == request.args.get('day') %}selected='selected'{% endif %}>
                    {{ day }}
                </option>
            {% endfor %}
        </select>
    </header>
{% endblock %}
