{% extends "layout/base.html" %}
{% block title %}{{ selected_product.name }}{% endblock %}

{% block header %}
    <nav>
        <ul>
            {% set navigation_bar = [
                ('spatial', 'product.spatial_page'),
                ('timeline', 'product.timeline_page'),
                ('search', 'product.search_page')
            ] -%}
            {% for id, page_method in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for(page_method, product_name=selected_product.name) }}">
                        {{ id | title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <header>
        {% block selector %}
            <select name="products"
                    id='select-product'
                    title="Select product"
                    aria-label="Select product">
                {% for product in products %}
                    <option value="{{ product.name }}"
                            {% if product.name == selected_product.name %}selected="selected"{% endif %}>
                        {{ product.description }}
                    </option>
                {% endfor %}
            </select>
        {% endblock %}
    </header>
{% endblock %}
