{% extends "layout/base.html" %}

{# If a user chooses these fields, they carry between different pages. #}
{% set product_args = {
    'product_name': product.name,
    'year': year,
    'month': month,
    'day': day
} %}

{% block title %}{{ product.name }}{% endblock %}

{% block header %}
    <nav>
        <ul>
            {% set navigation_bar = [
                ('overview', 'product.overview_page'),
                ('datasets', 'product.search_page'),
            ] -%}
            {% for id, page_method in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif %}>
                    <a href="{{ url_for(page_method, **product_args) }}">
                        {{ id | title }}
                    </a>
                </li>
            {% endfor %}
            <li class="plain"><a href="{{ url_for('about_page') }}">About</a></li>
        </ul>
    </nav>
    <header>
        <select name="products"
                id='select-product'
                title="Select product"
                aria-label="Select product">

            <option value="">All products</option>
            {% for product_opt, summary in products if summary %}
                <option value="{{ product_opt.name }}"
                        {% if product_opt.name == product.name %}selected="selected"{% endif %}>
                    {{ product_opt.name }}: {{ product_opt.definition.description }} ({{ summary.dataset_count }})
                </option>
            {% endfor %}
        </select>
        <select id='select-year' aria-label="Year" title="Select year">
            <option value="">All years</option>
            {% for year_opt in range(
                    product_summary.time_range.end.year,
                    product_summary.time_range.begin.year - 1,
                    -1
                ) %}
                <option value="{{ year_opt }}"
                        {% if (year_opt) == year %}selected='selected'{% endif %}>
                    {{ year_opt }}
                </option>
            {% endfor %}
        </select>
        <select id='select-month' aria-label="Month" title="Select month">
            <option value="">All months</option>
            {% for month_opt in range(1, 13) %}
                <option value="{{ month_opt }}"
                        {% if (month_opt) == month %}selected='selected'{% endif %}>
                    {{ month_opt | month_name }}
                </option>
            {% endfor %}
        </select>
        <select id='select-day' aria-label="Day" title="Select day">
            <option value="">All days</option>
            {% for day_opt in range(1, 31) %}
                <option value="{{ day_opt }}"
                        {% if (day_opt) == day %}selected='selected'{% endif %}>
                    {{ day_opt }}
                </option>
            {% endfor %}
        </select>
    </header>
{% endblock %}



{% block footer %}
    {{ super() }}
    <script>
        // TODO offset for current page
        var base_url = {% if active_page == 'datasets' %}'/datasets/'{% else %}'/'{% endif %};

        function _url_for_selection(product, year, month, day) {
            /**
             * Build url: "/product_name/yyyy/mm/dd"
             *
             * All components optional
             *
             * Examples:
             *     /
             *     /ls7_nbar_scene
             *     /ls7_nbar_scene/2012
             *     /ls7_nbar_scene/2012/07
             *     /ls7_nbar_scene/2012/07/03
             */


            var url = base_url;

            if (product) {
                url += product;
                [year, month, day].some(function (number) {
                    if (!number) {
                        // Don't join any further.
                        return true;
                    }

                    url += '/';
                    url += (number < 10 ? '0' : '') + number;
                    return false;
                });
            }
            return url;
        }

        $('#select-product, #select-month, #select-year, #select-day').change(function () {
            var product = $('#select-product :selected').val(),
                year = $('#select-year :selected').val(),
                month = year ? $('#select-month :selected').val() : null,
                day = month ? $('#select-day :selected').val() : null;

            window.location.href = _url_for_selection(product, year, month, day);
        });
    </script>
{% endblock %}
