$bold_highlight: #212121

$content_background: lighten($bold_highlight, 75%)

$panel_color: lighten($bold_highlight, 85%)
$panel2_color: lighten($content_background, 6%)

// The four colors in the dea style guide. Use sparingly (highlights).

$emphasis_strong: darken(#00A1DE, 5%)
$emphasis_weak: desaturate($emphasis_strong, 30%)

$emphasis_light: #8FCAE7

$highlight_alt: #7AB800
$highlight_alt2: #EEAF30

$header_highlight: lighten($bold_highlight, 15%)
$header_highlight_strong: lighten($bold_highlight, 20%)

$muted_text: lighten($bold_highlight, 32%)

$header_stipe1: #2dace1
$header_stripe2: #7fd0eb

// Adjust standard padding based on screen width. We can't use CSS vars due to IE support.
@mixin wide_padding
    @media (min-width: 800px)
        padding: 15px 30px

    padding: 10px 20px

@mixin square_padding
    @media (min-width: 800px)
        padding: 30px 30px

    padding: 20px 20px

body
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    background: linear-gradient(to bottom, #bababa 90px, #e0e0e0 800px)

    min-height: calc(100vh - 50px)
    color: $bold_highlight
    font-size: 0.86em
    margin: 0 auto
    padding: 0 15px
    max-width: 1024px

#logo
    padding-right: 25px
    position: absolute
    top: 15px
    right: 0
    img
        vertical-align: middle
        padding-right: 2px
    a
        text-decoration: none
        color: #fff

.logo-text
    display: inline-block

.content-wrapper
    position: relative
    padding: 60px 0 30px

#content
    clear: right
    position: relative
    width: auto

    background-color: $content_background

.map-panel
    width: 100%

// Spatial page
#map
    flex: 1 1
    height: calc(100vh - 100px)
    border-top: 7px $header_stipe1 solid

// show two columns on wide displays
@media (min-width: 800px)
    .panels
        display: flex

    .info-panel
        width: 250px
        border-top: 7px $header_stripe2 solid

.panels
    box-shadow: 0 -2px 0 0 #fff

.info-panel
    ul
        list-style-type: none
        padding: 0

a
    color: #2b2b2b

h2
    .panel.highlight > &
        color: #fff
    .panel.odd > &
        color: $emphasis_weak

header
    color: #efefef
    padding: 0
    display: flex
    flex-direction: row

footer
    @include wide_padding

    text-align: right
    color: #a6a6a6
    font-size: 0.8em

.header-option
    background-color: $header_highlight_strong
    position: relative
    border-collapse: collapse
    max-width: 60%

    $active_color: darken($emphasis_strong, 5%)

    vertical-align: bottom

    h2
        font-size: 1em
        font-weight: normal
    h3
        margin: 0
        @include square_padding
        font-size: 0.8em
        color: $bold_highlight
        text-transform: lowercase
        font-variant: small-caps

    &.primary
        background-color: $header_highlight

    > .option-title
        @include wide_padding
        margin: 0
        line-height: 1.75em
        flex: 1 1

        // This hints to touch devices (such as iPads) to trigger "hover" on click rather than select the text. 
        cursor: pointer

        &::after
            content: ' ▾'

    &:hover
        background-color: $active_color
        .option-menu
            background-color: $active_color
            display: table

    .option-menu
        display: none
        position: absolute
        top: calc(100% - 2px)
        left: 0
        &.left
            left: initial
            right: 0

        // Above maps etc
        z-index: 10000

        > ul
            display: table-row
            & > li
                display: table-cell

        a:hover
            background-color: lighten($active_color, 10%)
            color: #fff

    ul
        margin: 0
        padding: 0
        list-style: none
        li
            margin: 0

    // The "All" menu items
    .wildcard
        font-weight: bold

    a
        display: block
        text-decoration: none
        @include wide_padding
        color: #fcfcfc
        font-weight: bold

        &.active
            background-color: lighten($active_color, 5%)

.panel
    @include square_padding
    line-height: 1.7em
    background: $panel_color

    &.odd
        background-color: $panel2_color
        border-bottom: 0

    &.highlight
        background: $header_highlight_strong
        color: #efefef
        border-bottom: 0
        a
            color: #999

    h2
        margin: 15px 0 5px
        &:first-child
            margin-top: 0

/* Table of values

.data-table
    th
        font-weight: bold
        font-size: 0.8em
    td, th
        padding: 0 15px
        text-align: left
        line-height: 30px

/* lists of key-values

.query-param-list
    width: auto
    display: grid

@media (min-width: 800px)
    .query-param-list.wide
        grid-template-columns: 1fr 1fr

.query-param
    > .key
        color: $muted_text

    .value > .query-param
        margin-left: 15px

button
    margin: 5px 0
    background-color: $emphasis_weak
    border: 0
    color: #efefef
    padding: 8px
    cursor: pointer
    font-size: 18px

    &:hover
        background-color: $emphasis_strong

// Similar to gridforms style
label
    text-transform: uppercase
    letter-spacing: 1px
    font-size: 10px
    color: #333

.form-footer
    margin: 1em 0
    > label
        padding: 8px
        display: block

    select
        padding: 6px

.chart-timeline
    padding: 15px

.chart-timeline-bars
    font-size: 0
    height: 50px
    white-space: nowrap

.chart-timeline-bar
    width: 2px
    display: inline-block
    $graph_highlight: $emphasis_weak
    background-color: $graph_highlight

    &.new-year
        background-color: darken($graph_highlight, 5%)
    &:hover
        background-color: darken($graph_highlight, 10%)

.chart-timeline-years
    font-size: 0
    white-space: nowrap

.chart-timeline-year
    width: 24px
    display: inline-block
    font-size: 10px
    text-align: center
    transform: rotate(45deg)
    transform-origin: top left
    vertical-align: bottom
    height: 24px

.relative
    position: relative

.message-box
    position: absolute
    left: calc(50% - 100px)
    top: 25%
    width: 200px
    text-align: center
    z-index: 9999
    background: $header_highlight_strong
    padding: 13px 15px
    color: #fff

    a
        color: lighten($emphasis_strong, 10%)

.muted
    color: $muted_text

.raw-metadata
    overflow-y: scroll
    max-height: 600px

    .property
        font-family: 'Courier New', monospace

        .property
            padding-left: 15px

        & > .key
            font-weight: bold

// Information box shown when hovering a map dataset
.dataset-info
    background-color: $panel2_color
    margin: 10px
    padding: 15px

@import "gridforms/gridforms"

// Minor tweak of gridforms defaults
// Lighten borders
.grid-form

    +grid-form($grid-border-color: #777, $field-focus-color: lighten(#adb0b3, 8%))

    [data-row-span].disabled
        display: none

@import "leaflet-1.3.1/leaflet"
@import "leaflet-groupedlayercontrol/leaflet.groupedlayercontrol"
