$bold_highlight: #212121

$content_background: lighten($bold_highlight, 75%)

$panel_color: lighten($bold_highlight, 85%)
$panel2_color: lighten($content_background, 6%)

// The four colors in the dea style guide. Use sparingly (highlights).

$emphasis_strong: darken(#00A1DE, 5%)
$emphasis_weak: desaturate($emphasis_strong, 30%)

$emphasis_light: #8FCAE7

$highlight_alt: #7AB800
$highlight_alt2: #EEAF30

$header_highlight: lighten($bold_highlight, 15%)
$header_highlight_strong: lighten($bold_highlight, 20%)

$muted_text: lighten($bold_highlight, 32%)

$header_stipe1: #2dace1
$header_stripe2: #7fd0eb

@import normalise.css

\:root
    --padd-s: 10px
    --padd: 20px

@media (min-width: 800px)
    \:root
        --padd-s: 15px
        --padd: 30px

// TODO: IE fallback
$small_padding: var(--padd-s)
$padding: var(--padd)

body
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    background: linear-gradient(to bottom, #bababa 90px, #e0e0e0 800px)

    min-height: calc(100vh - 50px)
    color: $bold_highlight
    font-size: 0.86em
    margin: 0 auto
    padding: 0 15px
    max-width: 1024px

#logo
    padding-right: 25px
    position: absolute
    top: 15px
    right: 0
    img
        vertical-align: middle
        padding-right: 2px
    a
        text-decoration: none
        color: #fff

.logo-text
    display: inline-block

.content-wrapper
    position: relative
    padding: 60px 0 30px

#content
    clear: right
    position: relative
    width: auto

    background-color: $content_background
    box-shadow: 0 -2px 0 0 #fff

.map-panel
    width: 100%

// Spatial page
#map
    flex: 1 1
    height: calc(100vh - 100px)
    border-top: 7px $header_stipe1 solid

    .summary-control
        background: rgba($header_highlight_strong, 0.9)
        color: #fff
        padding: 15px 15px

        a
            color: #fff0f0

// show two columns on wide displays
@media (min-width: 800px)
    .panels
        display: flex

    .info-panel
        width: 250px
        border-top: 7px $header_stripe2 solid

.info-panel
    ul
        list-style-type: none
        padding: 0

a
    color: #2b2b2b

h2
    color: lighten($bold_highlight, 10%)

    .panel.highlight > &
        color: #fff
    .panel.odd > &
        color: $emphasis_weak

header
    color: #efefef
    padding: 0
    display: flex
    flex-direction: row

footer
    padding: $small_padding $padding
    text-align: right
    color: #a6a6a6

.header-option
    background-color: $header_highlight_strong
    position: relative
    border-collapse: collapse
    max-width: 60%

    $active_color: darken($emphasis_strong, 5%)
    $item_padding: $small_padding $padding

    vertical-align: bottom
    &.primary
        background-color: $header_highlight

    li.selected a
        color: $highlight_alt2

    > div
        padding: $item_padding
        margin: 0
        line-height: 1.75em
        flex: 1 1

        &::after
            content: ' ▾'
    h2
        margin: 0
        padding: $item_padding
        font-size: 0.8em
        color: $bold_highlight
        text-transform: lowercase
        font-variant: small-caps

    > ul
        display: none

    &:hover
        background-color: $active_color

        > ul
            display: grid
            position: absolute
            top: calc(100% - 2px)
            left: 0

            // Above maps etc
            z-index: 10000

            grid-template-columns: 1fr 1fr 1fr
    > ul
        background-color: $active_color

    ul
        margin: 0
        padding: 0
        list-style: none

        li
            margin: 0

            &.wildcard
                font-weight: bold

    ul.items a:hover
        background-color: lighten($active_color, 10%)
        color: #fff

    a
        display: block
        text-decoration: none
        padding: $item_padding
        color: #fcfcfc
        font-weight: bold

        &.active
            background-color: lighten($active_color, 5%)

.header-wrapper
    &::after
        clear: left

nav
    display: none
    vertical-align: bottom
    ul
        margin: 0
        padding: 0
        list-style-type: none
        text-align: right
        vertical-align: bottom
    li
        float: left
        margin: 0
        a
            $background_tab: $header_highlight_strong

            padding: 15px 30px
            display: inline-block
            background: $background_tab
            border-color: $background_tab
            color: #efefef
            text-decoration: none
            &:hover, &:active
                background: linear-gradient(to bottom, lighten($header_highlight, 1%) 0%, $header_highlight 100%)

        &.plain a
            background: none
            color: inherit
            &:hover, &:active
                text-decoration: underline

        &.active a
            background: linear-gradient(to bottom, lighten($header_highlight, 1%) 0%, $header_highlight 100%)

.panel
    padding: $padding
    line-height: 1.7em
    background: $panel_color

    &.odd
        background-color: $panel2_color
        border-bottom: 0

    &.highlight
        background: $header_highlight_strong
        color: #efefef
        border-bottom: 0
        a
            color: #999

    /* Add line between adjacent panels
    &.odd + .panel.odd, &.highlight + .panel.odd
        border-top: 1px solid $panel_color

    &.overflow
        overflow-x: auto
    &.right
        text-align: right

    h2
        margin: 15px 0 5px
        &:first-child
            margin-top: 0

    .data-table
        margin: 0 -15px

/* Table of values

.data-table
    th
        font-weight: bold
        font-size: 0.8em
    td, th
        padding: 0 15px
        text-align: left
        line-height: 30px

.link-cell > a
    padding: 0 15px
    text-align: right
    line-height: 30px

/* A link cell has padding on the anchor, not the cell

.data-table
    td.link-cell, th.link-cell
        padding: 0

.link-cell > a
    display: block
    text-decoration: none
    &:hover
        background-color: $bold_highlight
        color: #fff

.data-table
    &.numerical
        td, th
            text-align: right
    td.zero
        color: #ababab

/* lists of key-values

.query-param-list
    width: auto
    display: grid

@media (min-width: 800px)
    .query-param-list.wide
        grid-template-columns: 1fr 1fr

.query-param

    > .key
        color: $muted_text

    .value > .query-param
        margin-left: 15px

.search-param > .key
    display: inline-block
    font-weight: bold

button
    margin: 5px 0
    background-color: $emphasis_weak
    border: 0
    color: #efefef
    padding: 8px
    cursor: pointer
    font-size: 18px

    &:hover
        background-color: $emphasis_strong

// Similar to gridforms style
label
    text-transform: uppercase
    letter-spacing: 1px
    font-size: 10px
    color: #333

.form-footer
    margin: 1em 0
    > label
        padding: 8px
        display: block

    select
        padding: 6px

.chart-timeline
    padding: 15px

.chart-timeline-bars
    font-size: 0
    height: 50px
    white-space: nowrap

.chart-timeline-bar
    width: 2px
    display: inline-block
    $graph_highlight: $emphasis_weak
    background-color: $graph_highlight

    &.new-year
        background-color: darken($graph_highlight, 5%)
    &:hover
        background-color: darken($graph_highlight, 10%)

.chart-timeline-years
    font-size: 0
    white-space: nowrap

.chart-timeline-year
    width: 24px
    display: inline-block
    font-size: 10px
    text-align: center
    transform: rotate(45deg)
    transform-origin: top left
    vertical-align: bottom
    height: 24px

@import "gridforms/gridforms"

.relative
    position: relative

// Minor tweak of gridforms defaults
// Lighten borders
.grid-form

    +grid-form($grid-border-color: #777, $field-focus-color: lighten(#adb0b3, 8%))

    [data-row-span].disabled
        display: none

.message-box
    position: absolute
    left: calc(50% - 100px)
    top: 25%
    width: 200px
    text-align: center
    z-index: 9999
    background: $header_highlight_strong
    padding: 13px 15px
    color: #fff

.muted
    color: $muted_text

.raw-metadata
    overflow-y: scroll
    max-height: 600px
    ul
        list-style-type: disc
        padding-left: 15px

    .property
        font-family: 'Courier New', monospace

        .property
            padding-left: 15px

        & > .key
            font-weight: bold

.dataset-info
    background-color: $panel2_color
    margin: 10px
    padding: 15px
